.title {
  text-align: center;
  font-family: $font-2;
  font-size: 3.5rem;
  #about-gradient {
    @include purple-gradient-properties;
  }
}
.sub-title {
  color: $grey;
  font-size: 1.5rem;
  margin-bottom: 5rem;
  margin-top: 1rem;
  text-align: center;
}

.about-container {
  margin-top: 10rem;
  z-index: -2;
  position: relative;
  .main-title {
    text-align: center;
    font-family: $font-2;
    font-size: 2.5rem;
    padding-top: 2rem;
  }
  .cards-container {
    padding: 0rem 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.about-me-why-container {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.about-me-why {
  background-color: #141c28;
  text-align: center;
  position: relative;
  height: 17rem;
  width: 30rem;
  border-radius: 10px;
  padding: 2rem;
  .about-title {
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 1.1rem;
  }
  .abt-description {
    text-align: justify;
  }
}
#italic {
  font-style: italic;
  color: inherit;
}

.about-me-why::after,
.about-me-why::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient($blue, grey, $blue);
  // background-image: conic-gradient($blue, $blue, $blue, #a600ff, $blue, $blue);
  background-image: conic-gradient(
    #a600ff,
    #a600ff,
    #a600ff,
    $blue,
    $blue,
    #a600ff,
    #a600ff
  );

  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 2px;
  border-radius: 12px;
}
.about-me-why::before {
  filter: blur(1.5rem);
  opacity: 0.4;
}

.test-container {
  width: 300px;
  height: 200px;
  background: rgba(255, 255, 255, 0.1); /* Transparent white */
  border-radius: 15px;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2),
    /* Inner shadow for depth */ 0 4px 10px rgba(0, 0, 0, 0.5); /* Outer shadow for elevation */
  backdrop-filter: blur(10px); /* Blurred background for glass effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Text color for contrast */
  font-size: 1.2rem;
}
