.title {
  text-align: center;
  font-family: $font-2;
  font-size: 3.5rem;
  #about-gradient {
    @include purple-gradient-properties;
  }
}
.sub-title {
  color: $grey;
  font-size: 1.5rem;
  margin-bottom: 5rem;
  margin-top: 1rem;
  text-align: center;
}

.about-container {
  margin-top: 10rem;
  z-index: -2;
  position: relative;
  .main-title {
    text-align: center;
    font-family: $font-2;
    font-size: 2.5rem;
    padding-top: 2rem;
  }
  .cards-container {
    padding: 0rem 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
