.footer-container {
  height: 5rem;
  .footer-bar {
    background-color: #676767;
    height: 0.3rem;
    width: 30rem;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 1rem;
  }
  .top-arrow {
    margin: auto;
    width: 3rem;
    height: 3rem;
    margin-bottom: 2rem;
    .footer-arrow {
      width: 3rem;
      height: 3rem;
      cursor: pointer;
    }
  }
}
@media (max-width: 480px) {
  .footer-container {
    width: 100%;
    .footer-bar {
      width: 70%;
    }
  }
}
