.section-container {
  margin: 20rem 3rem 0 3rem;
  .title {
    text-align: center;
    font-family: $font-2;
    font-size: 3.5rem;
  }
  .sub-title {
    color: $grey;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
    margin-top: 1rem;
  }
  .flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;

    .droite {
      height: 18rem;
      width: 30rem;
      .glass-card-react {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 20px;
        background-color: rgb(255, 255, 255, 0.038);
        border: 1px solid rgba(255, 255, 255, 0.05);
        border-bottom: solid rgba(255, 255, 255, 0.248) 1px;
        border-right: solid rgba(255, 255, 255, 0.248) 1px;
        height: 100%;
        width: 100%;
        transition: transform 0.3s ease;

        .logo-react-container {
          height: 11rem;
          width: 11rem;
          .card-logo-react {
            height: 100%;
            width: 100%;
            filter: opacity(0.8);
          }
        }
        .skills-react-container {
          .skill-react {
            padding: 0.5rem;
            font-weight: 900;
            font-size: 1.1rem;
          }
        }
      }
      .glass-card-react:hover {
        transform: skew(3deg, -1deg);
      }
    }
  }
  // __________________________________________________________
  .gauche {
    width: 30rem;
    height: 18rem;
    .title {
      color: $grey;
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
    .items {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      .gauche-items {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      .right-items {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      .glass {
        background-color: rgba(255, 255, 255, 0.038);
        border: 1px solid rgba(255, 255, 255, 0.05);
        border-bottom: solid rgba(255, 255, 255, 0.248) 1px;
        border-left: solid rgba(255, 255, 255, 0.248) 1px;
        width: 15rem;
        height: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: start;
        border-radius: 10px;
        font-weight: 900;
        gap: 1rem;
        padding-left: 1rem;
        transition: transform 0.3s ease;
      }
      .glass:hover {
        transform: skew(-5deg, 2deg);
      }
    }
  }
}

.gauche-logo {
  width: 1rem;
  height: 1rem;
}

#typescript-shadow {
  position: relative;
}
#typescript-shadow::before {
  content: "";
  position: absolute;
  transform: translate(4rem, -2.5rem) rotate(0deg);
  width: 30rem;
  height: 4rem;
  background: radial-gradient(50% 20% at 100% 100%, #fa28de 100%, #fa28de 100%);
  filter: blur(130px);
  z-index: -1;
}

#Stack-Gradient {
  @include pink-gradient-properties;
}

@media (max-width: 850px) {
  .section-container {
    margin: 10rem 0rem 0 0rem;
    .title {
      font-size: 2.5em !important;
      padding: 0 1rem;
    }
    .sub-title {
      padding: 0 4rem;
      text-align: center;
      font-size: 1.25rem !important;
    }
    .flex-container {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      margin-top: 3rem;
      .droite {
        height: 23rem;
        width: 50%;
        margin: auto;
        .glass-card-react {
          flex-direction: column;
          text-align: center;
          display: block;
          .logo-react-container {
            margin: auto;
            margin-top: 1rem;
          }
        }
      }
      .gauche {
        width: 50%;
        #stack-sub-sub {
          font-size: 1.5rem !important;
          margin-top: 2rem;
        }
        .items {
          flex-wrap: wrap;
          .gauche-items {
            display: none;
          }
          .right-items {
            width: 90%;
            justify-content: center;
            align-items: center;
            .glass {
              width: 100%;
              padding: 0 2rem;
              align-items: center;
              justify-content: center;
              border-right: solid rgba(255, 255, 255, 0.248) 1px;
              border-left: none;
            }
          }
        }
      }
    }
  }
  #typescript-shadow::before {
    transform: translate(0rem, -10rem) rotate(0deg);
    width: 98vw;
    height: 6rem;
  }
}
@media (max-width: 530px) {
  .section-container {
    .flex-container {
      .droite {
        width: 90%;
      }
      .gauche {
        width: 90%;
        .items {
          .right-items {
            width: 100%;
          }
        }
      }
    }
  }
}
