.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.344);
  justify-content: space-between;
  padding: 0 10rem;
  .left-group {
    display: flex;
    align-items: center;
    justify-content: center;
    .logo-dev {
      height: 1.25rem;
      margin-right: 2rem;
      padding-left: 1rem;
    }
  }
  .navigation-sections {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .navigation-sections > * {
    cursor: pointer;
    transition: filter 0.3s ease;
  }
  .navigation-sections > *:hover {
    filter: brightness(0.5);
  }
  .right-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-right: 1rem;
    .vertical-bar {
      border: $white solid 1px;
      width: 1px;
      height: 1.5rem;
      margin-left: 1rem;
    }
  }
}
@media (max-width: 700px) {
  .nav-container {
    padding: 0 1rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    .left-group {
      padding: 0 1rem;
      justify-content: space-around;
      .logo-dev {
        margin: 0;
        padding-right: 1rem;
        padding-left: 0;
      }
    }
  }
  #nav-home {
    display: none;
  }

  .right-group {
    display: none !important;
  }
}
