.title-container {
  text-align: center;
  margin-top: 5rem;
  transform: translateY(20px); /* Optional: adds a slight slide-up effect */
  transition: opacity 1s ease-out, transform 1s ease-out;
  .main-title {
    font-family: $font-2;
    line-height: 120%;
    font-weight: 1200;
    font-size: 3.5rem;
  }

  .second-title {
    color: $grey;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
    margin-top: 1rem;
  }
}

#React-JS {
  @include blue-gradient-properties;
}

@media (max-width: 700px) {
  .title-container {
    margin-top: 3rem;
  }
  .main-title {
    font-size: 3rem !important;
    padding: 0 1rem;
  }
  .second-title {
    padding: 0 3rem;
  }
}
