nav {
  position: relative;
  background: transparent;
  min-height: 10vh;
  font-family: $font-1;
}
li {
  a {
    text-decoration: none;
  }
}
.nav__container {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3% 0% 3%;
  width: 100%;
  margin: auto;
  background-color: transparent;
}

.nav-logo {
  height: 2rem;
}

.nav-left__container {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.nav-right__container {
  display: flex;
  gap: 1rem;
  align-items: center;
  a {
    transition: 0.2s;
  }
  a:hover {
    transition: 0.2s;
    filter: brightness(0.5) saturate(0%);
  }
}

#saturate-img {
  filter: brightness(20) saturate(0%);
}

#nav-shadow::before {
  content: "";
  position: absolute;
  transform: translate(4rem, 0px) rotate(20deg);
  width: 30rem;
  height: 4rem;
  background: radial-gradient(
    100% 20% at 50% 50%,
    $punchy-pink 100%,
    $purple-background 60%
  );
  filter: blur(50px);
  z-index: 1;
}

@media (max-width: 576px) {
}
