nav {
  background: transparent;
  min-height: 10vh;
}
li {
  a {
    text-decoration: none;
  }
}
.nav__container {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3% 0% 3%;
  width: 100%;
  margin: auto;
  background-color: transparent;
}

.nav-logo {
  height: 2rem;
}

.nav-left__container {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.nav-right__container {
  display: flex;
  gap: 1rem;
  align-items: center;
  a {
    transition: 0.2s;
  }
  a:hover {
    transition: 0.2s;
    filter: brightness(0.5) saturate(0%);
  }
}

#saturate-img {
  filter: brightness(20) saturate(0%);
}
