$color-react: rgb(0, 216, 255);
$black: #000000;
$blue: #0064d7;
$white: #ecedee;
$grey: #a1a1aa;
$punchy-pink: #ff4ecd;
$purple-background: #2c0f47;

@font-face {
  font-family: "Comfortaa-Regular";
  src: url(../assets/fonts/Comfortaa-Regular.ttf);
}
@font-face {
  font-family: "Comfortaa-Bold";
  src: url(../assets/fonts/Comfortaa-Bold.ttf);
}

@font-face {
  font-family: "SpaceMono-Regular";
  src: url(../assets/fonts/SpaceMono-Regular.ttf);
}

@font-face {
  font-family: "SpaceMono-Bold";
  src: url(../assets/fonts/SpaceMono-Bold.ttf);
}

@font-face {
  font-family: "Roboto-Black";
  src: url(../assets/fonts/Roboto-Black.ttf);
}

$font-1: "Comfortaa-Regular", "Segoe UI", Tahoma;
$font-2: "Comfortaa-Bold", "Segoe UI", Tahoma;
$SpaceMono-Regular: "SpaceMono-Regular", monospace;
$SpaceMono-Bold: "SpaceMono-Bold", monospace;
$Roboto-Black: "Roboto-Black", Arial, Helvetica, sans-serif;

// bien définir les propriétés en haut de page

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; // pour retirer les margins et paddings autour des block elements
  color: $white;
  font-family: $font-1;
}

ul {
  list-style-type: none;
}
