$color-react: rgb(0, 216, 255);
$black: #000000;
$blue: #0064d7;
$white: #ecedee;
$grey: #a1a1aa;
$grey-background: #19191C;
$punchy-pink: #ff4ecd;
$purple-background: #2c0f47;

@mixin pink-gradient-properties {
  background: linear-gradient(0deg, #b249f8 0%, #ff1cf7 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url(../assets/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url(../assets/fonts/OpenSans-ExtraBold.ttf);
}

@font-face {
  font-family: "SpaceMono-Regular";
  src: url(../assets/fonts/SpaceMono-Regular.ttf);
}

@font-face {
  font-family: "SpaceMono-Bold";
  src: url(../assets/fonts/SpaceMono-Bold.ttf);
}

$font-1: "OpenSans-Regular", "Segoe UI", Tahoma;
$font-2: "OpenSans-ExtraBold", "Segoe UI", Tahoma;
$SpaceMono-Regular: "SpaceMono-Regular", monospace;
$SpaceMono-Bold: "SpaceMono-Bold", monospace;

// bien définir les propriétés en haut de page

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; // pour retirer les margins et paddings autour des block elements
  color: $white;
  font-family: $font-1;
}

ul {
  list-style-type: none;
}
