@import "./settings";
@import "./styles_components/navbar";
@import "./styles_components/githubbutton";
@import "./styles_components/linkedinbutton";
@import "./styles_components/herosection";
@import "./styles_components/title";
@import "./styles_components/aboutme";
@import "./styles_components/aboutcard";
@import "./styles_components/mystack";
@import "./styles_components/myprojects";
@import "./styles_components/contactme";
@import "./styles_components/footer";
@import "./styles_components/radiodescription";
