$white: #f3f3f3;
$black: #000000;
$blue: #32aadc;
$grey: #a1a1aa;
$card-background: #1e293b;
$color-for-borders: #2e3547;
$grey-button: #323c49;
$glassy: rgba(37, 34, 53, 0.445);

// those colors are for code editor with Github theme
$redish: #ff4141;
$orangish: #e38f44d2;
$greyish: #afb3bb;
$blueish: #5eb4fb;
$purplish: #c388fecf;
$greenish: #9ed79dcb;
$terminal-background: #2f354362;
// those colors are for code editor with Github theme

@font-face {
  font-family: "Inter-Regular";
  src: url(../assets/fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: "Inter-Black";
  src: url(../assets/fonts/Inter-Black.ttf);
}

$font-1: "Inter-Regular", "Segoe UI", Tahoma;
$font-2: "Inter-Black", "Segoe UI", Tahoma;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $white;
}

body {
  overflow-x: hidden;
  max-width: 100vw;
  overflow-y: auto;
  height: 100%;
}

body {
  font-family: $font-1;
  background-color: #000000;
}

ul {
  list-style-type: none;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

@mixin blue-gradient-properties {
  background: linear-gradient(0deg, #38bdf8 10%, #ade7ff 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@mixin pink-gradient-properties {
  background: linear-gradient(0deg, #fa28de 10%, #fcadff 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@mixin green-gradient-properties {
  background: linear-gradient(0deg, #00ff08 10%, #c5ffc5 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@mixin orange-gradient-properties {
  background: linear-gradient(0deg, #da6d24 40%, #ffc676 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@mixin purple-gradient-properties {
  background: linear-gradient(0deg, #6724da 40%, #ab8dda 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
